a{
  text-decoration: none;
}

.link{
  margin: 5px;
  padding: 15px;
  border-radius: 10px;
  background-color: cornflowerblue;
  color: white;

  &:hover{
    background-color: dodgerblue;
  }
  &:focus{
    background-color: dodgerblue;
  }
}
